annotated-types==0.7.0
certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
pydantic==1.10.7
pydantic_core==2.27.2
-e git+https://github.com/nksarps/pystack.git@43d48eab4491151024d6a024e6b957fe98665b0a#egg=pystack
python-decouple==3.8
requests==2.32.3
typing_extensions==4.12.2
urllib3==2.3.0
